@model AfluexFollowUpDemo.Models.ForgotPassword
@{
    ViewBag.Title = "ChangeEmployeePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


@using (Html.BeginForm("ChangeEmployeePassword", "Home", FormMethod.Post, new { @id = "signupForm" }))
{
    <div class="card">
        <div class="card-body">
            <div class="border p-3 rounded">
                <h6 class="mb-0 text-uppercase">Change Password</h6>
                <hr />
                           <form class="row g-3">
                               <div class="row">
                                   <div class="col-4">
                                       <label class="form-label">Old Password</label>
                                       <input type="text" class="form-control">
                                   </div>
                                   <div class="col-4">
                                       <label class="form-label">New Password</label>
                                       <input type="text" class="form-control">
                                   </div>
                                   <div class="col-4">
                                       <label class="form-label">Confirm Password</label>
                                       <input type="text" class="form-control">
                                   </div>
                               </div>
                               <br/>
                                   <div class="col-2">
                                       <div class="d-grid">
                                           <button type="submit" class="btn btn-primary">Change</button>
                                       </div>
                                   </div>

                                   @*<div class="col-12 text-center">
                <p class="mb-0">or sign up with:</p>
            </div>
            <div class="col-12 text-center">
                <div class="error-social">
                    <a href="javascript:;" class="bg-facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="javascript:;" class="bg-twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="javascript:;" class="bg-google"><i class="bx bxl-google"></i></a>
                    <a href="javascript:;" class="bg-linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>*@
</form>
            </div>
        </div>
    </div>

}

@*<script>
    function validateform() {
        if ($('#OldPassword').val() == '') {
     $("#OldPassword").addClass('errortext');
     $('#OldPassword').focus();
     $('#OldPassword').val('');
            return false;
        }

        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            $('#NewPassword').val('');
            return false;
        }
        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $('#ConfirmPassword').focus();
            $('#ConfirmPassword').val('');
            return false;
        }

        return true;
    }
</script>

<style>
    .errortext {
        border: 2px solid red !important;
        background-color: #fff0f0 !important;
    }

    .successtext {
        border: 1px solid red !important;
        background-color: #808080 !important;
    }
</style>*@
        
